*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
}

h1{
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

#galeria{
    display: flex;
    justify-content: space-evenly;
}

img{
    border: red solid 2px;
    border-radius: 5px;
}